.navbar {
  display: flex;
  
  justify-content: center; 
 
  padding: 20px 8%;
  background: #0f172a;

  
}

.logo {
  color: #b6ff00;
}

.nav-links a {
   align-items: left;
  justify-content: left; 
  color: white;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
  
  
}

.nav-links a:hover {
  color: #b6ff00;
}
